@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=block');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans';
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Open Sans' !important;
}

.wrapper {
	max-width: 800px;
	width: calc(100% - 40px);
	margin: auto;
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.modal-content {
	width: 140%;
	padding: 20px 30px;
	transform: translate(-100px, 0);
}
